{% comment %} https://integer-ji.tistory.com/358님의 장고에서 HTML자동완성
하기를 보고 ... 샤라웃 투 him {% endcomment %}
<form action="{%url 'polls:vote' question.id%}" mathod="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>{{question.question_text}}</h1></legend>
    {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% for choice in quesion.choice_set.all %}
    <input type="radio" name="choice", id="choice{{ forloop.counter}}" value="{{choice.id}}">
    <label for="choice{{forloop.counter}}"> {{choice.choice_text}}</label>
    <br>
    {% endfor %}
  </fieldset>
  <input type="submit" value="Vote">
</form>
